<div class="body">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#reservaCadastroModal">
    + Reserva
  </button>

  <!-- Modal Cadastro -->
  <div class="modal fade" id="reservaCadastroModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova reserva</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="criarReserva()">
            <div class="mb-3">
              <label class="form-label" for="idFuncionario">Funcionario</label>
              <select class="form-control mb-3" id="idFuncionario"  name="idFuncionario" [(ngModel)]="novaReserva.idFuncionario">
                <option *ngFor="let funcionario of funcionarios" value="{{ funcionario.id }}">{{ funcionario.nome }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="statusPagamento">Acomodação</label>
              <select class="form-control mb-3" id="idAcomodacao"  name="idAcomodacao" [(ngModel)]="novaReserva.idAcomodacao">
                <option *ngFor="let acomodacao of acomodacoes" value="{{ acomodacao.id }}">{{ acomodacao.numero }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="statusPagamento">Hóspede</label>
              <select class="form-control mb-3" id="idHospede"  name="idHospede" [(ngModel)]="novaReserva.idHospede">
                <option *ngFor="let hospede of hospedes" value="{{ hospede.id }}">{{ hospede.nome }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="dataInicial">Data Reserva</label>
              <input class="form-control" id="dataInicial" name="dataInicial" type="date" placeholder="Data Reserva" required [(ngModel)]="novaReserva.dataInicial"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="qtdDiarais">Quantidade Diárias</label>
                <input class="form-control" id="qtdDiarais" name="qtdDiarais" type="number" placeholder="Quantidade Diárias" required  [(ngModel)]="novaReserva.qtdDiarais"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="qtdHospedes">Quantidade Hóspedes</label>
              <input class="form-control" id="qtdHospedes" name="qtdHospedes" type="number" placeholder="Quantidade Hóspedes" required  [(ngModel)]="novaReserva.qtdHospedes"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="statusPagamento">Status Pagamento</label>
              <select class="form-control mb-3" id="statusPagamento" name="statusPagamento" [(ngModel)]="novaReserva.statusPagamento">
                <option value="PENDENTE" selected>Pendente</option>
                <option value="PAGO">Pago</option>
              </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="dataCheckIn">Data Check-In</label>
                <input class="form-control" id="dataCheckIn" name="cargo" type="date" placeholder="Data Check-in" required  [(ngModel)]="novaReserva.dataCheckIn"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="dataCheckOut">Data Check-Out</label>
              <input class="form-control" id="dataCheckOut" name="dataCheckOut" type="date" placeholder="Data Check-out" required [(ngModel)]="novaReserva.dataCheckOut"/>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#reservaCadastroModal" [disabled]="!novaReserva.idAcomodacao || !novaReserva.idHospede || !novaReserva.dataInicial || !novaReserva.qtdDiarais || !novaReserva.qtdHospedes || !novaReserva.dataCheckIn || !novaReserva.dataCheckOut">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Edição -->
    <div class="modal fade" id="reservaEdicaoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editando Funcionário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="atualizarReserva()">
              <div class="mb-3">
                <label class="form-label" for="idFuncionario">Funcionario</label>
                <select class="form-control mb-3" id="idFuncionario"  name="idFuncionario" [(ngModel)]="reservaEditada.idFuncionario">
                  <option *ngFor="let funcionario of funcionarios" value="{{ funcionario.id }}" [attr.selected]="funcionario.id == reservaEditada.idFuncionario">{{ funcionario.nome }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="idAcomodacao">Acomodação</label>
                <select class="form-control mb-3" id="idAcomodacao"  name="idAcomodacao" [(ngModel)]="reservaEditada.idAcomodacao">
                  <option *ngFor="let acomodacao of acomodacoes" value="{{ acomodacao.id }}" [attr.selected]="acomodacao.id == reservaEditada.idAcomodacao">{{ acomodacao.numero }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="idHospede">Hóspede</label>
                <select class="form-control mb-3" id="idHospede"  name="idHospede" [(ngModel)]="reservaEditada.idHospede">
                  <option *ngFor="let hospede of hospedes" value="{{ hospede.id }}" [attr.selected]="hospede.id == reservaEditada.idHospede">{{ hospede.nome }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="dataInicial">Data Reserva</label>
                <input class="form-control" id="dataInicial" name="dataInicial" type="date" placeholder="Data Reserva" required [(ngModel)]="reservaEditada.dataInicial"/>
              </div>
              <div class="mb-3">
                  <label class="form-label" for="qtdDiarais">Quantidade Diárias</label>
                  <input class="form-control" id="qtdDiarais" name="qtdDiarais" type="number"  datetime="yyyy-MM-dd" placeholder="Quantidade Diárias" required  [(ngModel)]="reservaEditada.qtdDiarais"/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="qtdHospedes">Quantidade Hóspedes</label>
                <input class="form-control" id="qtdHospedes" name="qtdHospedes" type="number"  datetime="yyyy-MM-dd" placeholder="Quantidade Hóspedes" required  [(ngModel)]="reservaEditada.qtdHospedes"/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="statusPagamento">Status Pagamento</label>
                <select class="form-control custom-select custom-select-lg mb-3" id="statusPagamento"  name="statusPagamento" [(ngModel)]="reservaEditada.statusPagamento">
                  <option value="PENDENTE" selected>Pendente</option>
                  <option value="PAGO">Pago</option>
                </select>
              </div>
              <div class="mb-3">
                  <label class="form-label" for="dataCheckIn">Data Check-In</label>
                  <input class="form-control" id="dataCheckIn" name="cargo" type="date" placeholder="Data Check-in" required  [(ngModel)]="reservaEditada.dataCheckIn"/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="dataCheckOut">Data Check-Out</label>
                <input class="form-control" id="dataCheckOut" name="dataCheckOut" type="date" placeholder="Data Check-out" required [(ngModel)]="reservaEditada.dataCheckOut"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limparObjetoEdicao()">Cancelar</button>
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#reservaEdicaoModal" [disabled]="!reservaEditada.idAcomodacao || !reservaEditada.idHospede || !reservaEditada.dataInicial || !reservaEditada.qtdDiarais || !reservaEditada.qtdHospedes || !reservaEditada.dataCheckIn || !reservaEditada.dataCheckOut">Atualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <div>
    <table class="table table-striped listagem table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Quarto</th>
          <th scope="col">Hóspede</th>
          <th scope="col">Data Reserva</th>
          <th scope="col">Diárias</th>
          <th scope="col">Hóspedes</th>
          <th scope="col">Check-In</th>
          <th scope="col">Check-Out</th>
          <th scope="col">Pagamento</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.id }}</td>
          <td>{{ getDescricaoAcomodacao(reserva.idAcomodacao) }}</td>
          <td>{{ getDescricaoHospede(reserva.idHospede) }}</td>
          <td>{{ formatData(reserva.dataInicial) }}</td>
          <td>{{ reserva.qtdDiarais }}</td>
          <td>{{ reserva.qtdHospedes }}</td>
          <td>{{ formatData(reserva.dataCheckIn) }}</td>
          <td>{{ formatData(reserva.dataCheckOut) }}</td>
          <td><span class="badge bg-{{ reserva.statusPagamento === 'PAGO' ? 'success' : 'danger' }}">{{ reserva.statusPagamento }}</span> </td>

          <td style="text-align: right;">
            <button type="button" class="btn btn-sm" aria-label="Left Align" data-toggle="modal" data-target="#reservaEdicaoModal" (click)="copiarObjetoEdicao(reserva)">
              <span class="fa fa-pencil fa-md" aria-hidden="true"></span></button>

              <button type="button" class="btn btn-sm" aria-label="Left Align" (click)="excluirReserva(reserva.id)">
                <span class="fa fa-trash-o fa-md" aria-hidden="true"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
