<div class="body">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acomodacaoCadastroModal">
    + Acomodação
  </button>

  <!-- Modal Cadastro  -->
  <div class="modal fade" id="acomodacaoCadastroModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova Acomodação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="criarAcomodacao()">
            <div class="mb-3">
                <label class="form-label" for="numero">Número</label>
                <input class="form-control" id="numero" name="nome" type="text" placeholder="Número" required [(ngModel)]="novaAcomodacao.numero"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="valorDiaria">Valor Diária</label>
              <input class="form-control" id="valorDiaria" name="nome" type="number" placeholder="Valor diária" required [(ngModel)]="novaAcomodacao.valorDiaria"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="qtdHospedes">Qtd Hóspedes</label>
              <input class="form-control" id="qtdHospedes" name="nome" type="number" placeholder="Quantidade de hóspedes" required [(ngModel)]="novaAcomodacao.qtdHospedes"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#acomodacaoCadastroModal" [disabled]="!novaAcomodacao.numero || !novaAcomodacao.valorDiaria || !novaAcomodacao.qtdHospedes">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Edição -->
    <div class="modal fade" id="acomodacaoEdicaoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editando acomodação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="atualizarAcomodacao()">
              <div class="mb-3">
                <label class="form-label" for="numero">Número</label>
                <input class="form-control" id="numero" name="numero" type="text" placeholder="Número" required [(ngModel)]="acomodacaoEditada.numero"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="valorDiaria">Valor Diária</label>
              <input class="form-control" id="valorDiaria" name="valorDiaria" type="number" placeholder="Valor diária" required [(ngModel)]="acomodacaoEditada.valorDiaria"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="qtdHospedes">Qtd Hóspedes</label>
              <input class="form-control" id="qtdHospedes" name="qtdHospedes" type="number" placeholder="Quantidade de hóspedes" required [(ngModel)]="acomodacaoEditada.qtdHospedes"/>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#acomodacaoEdicaoModal" [disabled]="!acomodacaoEditada.numero || !acomodacaoEditada.valorDiaria || !acomodacaoEditada.qtdHospedes">Atualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <div>
    <table class="table table-striped listagem table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Número</th>
          <th style="text-align: right;" scope="col">Valor Diária</th>
          <th style="text-align: right;" scope="col">Qtd. Hóspedes</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acomodacao of acomodacoes">
          <td>{{ acomodacao.id }}</td>
          <td>{{ acomodacao.numero }}</td>
          <td style="text-align: right;">{{ acomodacao.valorDiaria }}</td>
          <td style="text-align: right;">{{ acomodacao.qtdHospedes }}</td>
          <td style="text-align: right;">
            <button type="button" class="btn btn-sm" aria-label="Left Align" data-toggle="modal" data-target="#acomodacaoEdicaoModal" (click)="acomodacaoEditada = acomodacao">
              <span class="fa fa-pencil fa-md" aria-hidden="true"></span></button>

              <button type="button" class="btn btn-sm" aria-label="Left Align" (click)="excluirAcomodacao(acomodacao.id)">
                <span class="fa fa-trash-o fa-md" aria-hidden="true"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
