<div class="body">
  <div style="margin-top: 5%;">
    <img src="./../../assets/pousada.png" style="margin-top:5%; margin-bottom: 5%;">
    <button class="btn btn-light home-btn col-md-12" routerLink="/reservas">Reservas</button>
    <button class="btn btn-light home-btn col-md-12" routerLink="/hospedes">Hóspedes</button>
    <button class="btn btn-light home-btn col-md-12" routerLink="/acomodacoes">Acomodações</button>
    <button class="btn btn-light home-btn col-md-12" routerLink="/funcionarios">Funcionários</button>
  </div>
</div>

